<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- dialect -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<property name="packageToScan">com.spring.mvc.todo.app</property>
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<mapping class="com.spring.mvc.todo.app.model.TodoTask"></mapping>
	</session-factory>

</hibernate-configuration>